* {
	margin: 0px;
    background-color: #db524d;
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

a {
    color: blueviolet;
    font-style: italic;
    font-size: 1em;
}

p {
    font-size: 0.9em; 
}

.top {
    font-size: 0.9em;
}

.main .gameArea {
    display: flex;
    /*border: 1px solid white;*/
    border-radius: 5px;
    height: 700px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
}

.gameArea .card {
    border: 1px solid black;
    border-radius: 5px;
    height: 600px;
    width: auto;
    cursor: pointer;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
}

.information {
    border: 1.8px solid white;
    width: 900px;
    height: auto;
    border-radius: 8px;
    font-size: 0.9em;
    margin: auto;
    padding: 10px 0px;
}

.play {
    border: 1.8px solid black; 
    border-radius: 5px; 
}

.btn {
    border-radius: 10px;
    border: 1.8px solid white; 
    color: white;
    background-color:#db524d;
    font-size: 2.4rem;
    font-style: normal;
    text-decoration: none;
    padding: 10px 25px;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: #db524d;
}

